<!-- questions.html -->
{% extends 'base.html' %}

{% block title %}Questions{% endblock %}

{% block content %}
 

    <div class="pagetitle">
      <h1>Collections</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'users:home' %}">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">Collections</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">

        
        <div class="col-lg-6">
   <div class="card">
            <div class="card-body">
              <h5 class="card-title">Collections</h5>

              <!-- List group with Advanced Contents -->
              <div class="list-group">
                
                {% for collection in collections %}
                <a href="#" class="list-group-item list-group-item-action">
                  <div class="d-flex w-80 justify-content-between">
                    <h4 class="mb-1"><b>{{collection.title}}</b></h4>
                    <small class="text-muted">{{collection.timestamp}}</small>
                     <a href="{% url 'questions:collection_remove' id=collection.id %}" class="btn btn-dark"><i class="bi bi-x-lg"></i></a>
                  </div>


                  <p class="mb-1"></p>
                  
      
                 
                  
                  {% for question in collection.questions.all %}
                   <div class="d-flex w-80 justify-content-between">
                    <a href="{% url 'questions:details' id=question.id %}" class="list-group-item list-group-item-action"> {{ forloop.counter }} - {{question}}</a>

                    <a href="{% url 'questions:question_remove' id=question.id %}" class="btn btn-primary"><i class="bi bi-x"></i></a>

                  </div>
                  {% endfor %}
                 
                  
                {% endfor %}
              
              </div><!-- End List group Advanced Content -->

            </div>
          </div>

        </div>

     
      </div>

    </section>


{% endblock %}
