<!--search.html -->
{% extends 'base.html' %}

{% block title %}Questions - Search{% endblock %}

{% block content %}
 

    <div class="pagetitle">
      <h1>Search</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'users:home' %}">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">Questions - Search</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

     <section class="section">
      <div class="row">

        {% for question in questions %}
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ question.title|truncatechars:20 }} - {% if question.is_verified %}<i class="bi bi-check-circle-fill text-success"></i>  <b>Expert Verified</b> {% endif %}</h5>
              <p>{{question.subject|truncatechars:70}}</p>


               <a href="{% url 'questions:bookmark' id=question.id %}" class="btn btn-dark"><i class="bi bi-bookmarks"></i></a>
               <a href="{% url 'questions:details' id=question.id %}" class="btn btn-primary">Show</a>
            </div>
          </div>

        </div>

        {% endfor %}
      </div>
    </section>


{% endblock %}
