<!-- child.html -->
{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
   <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'users:dashboard' %}">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    
    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Collections Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">


                <div class="card-body">
                  <h5 class="card-title">Collections <span></span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-bookmarks"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{collection_length}}</h6>
                      <!-- <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>-->

                    </div>
                  </div>
                </div>


              </div>
            </div><!-- End Collections Card -->

         <!-- Subscription Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                

                <div class="card-body">
                  <h5 class="card-title">Subscription Plan<span></span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-credit-card"></i>
                    </div>
                    <div class="ps-3">
                      <h6>Regular</h6>
                     

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Subscription Plan Card -->


         <!-- Subscription Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                

                <div class="card-body">
                  <h5 class="card-title">Questions<span> | Available</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-files"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{questions_length}}</h6>
                      

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Subscription Plan Card -->
            <!-- Top Selling -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">


                <div class="card-body pb-0">
                  <h5 class="card-title">Recomended Questions <span>|</span></h5>

                  <table class="table table-borderless">
                    <thead>
                      <tr>
                      
                        <th scope="col">Ouestions</th>
                        <th scope="col">Subject</th>

                      </tr>
                    </thead>
                    <tbody>
                      {% for question in questions_rec %}
                      <tr>
                        
                        
                        <td><a href="{% url 'questions:details' id=question.id %}" class="text-primary fw-bold">{{question.title}}</a></td>
                        <td>{{question.subject}}</td>
                        
                      </tr>
                      {% endfor %}
                     
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Top Selling -->

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

        

      


     

        </div><!-- End Right side columns -->

      </div>
    </section>

{% endblock %}
