<!-- profile.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
  <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Users</li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img src="{% static 'assets/img/profile-img.jpg' %}" alt="Profile" class="rounded-circle">
              <h2>{{user}}</h2>
              <h3>{{user.university}}</h3>
             
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  

                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8">{{user.get_full_name}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">University</div>
                    <div class="col-lg-9 col-md-8">{{user.university}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Course</div>
                    <div class="col-lg-9 col-md-8">{{user.course}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Country</div>
                    <div class="col-lg-9 col-md-8">{{user.country}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone</div>
                    <div class="col-lg-9 col-md-8">{{user.phone_number}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{user.email}}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form method = 'post' enctype="multipart/form-data">
                   {% csrf_token %}

                   {% with form=user_update_form %}
                   <div class="row mb-3">
                      <label for="{{ form.image.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{form.image.label}}</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="{{form.image.label|lower}}" type="file" class="form-control" id="{{ form.image.id_for_label }}" value="{{request.user.image.url}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="{{ form.username.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{form.username.label}}</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="{{form.username.label|lower}}" type="text" class="form-control" id="{{ form.username.id_for_label }}" value="{{request.user.username}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="{{ form.first_name.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{form.first_name.label}}</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="{{form.first_name.label|lower}}" type="text" class="form-control" id="{{ form.first_name.id_for_label }}" value="{{user.first_name}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="{{ form.last_name.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{form.last_name.label}}</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="{{form.last_name.label|lower}}" type="text" class="form-control" id="{{ form.last_name.id_for_label }}" value="{{user.last_name}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="{{ form.gender.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{form.gender.label}}</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="{{form.gender.label|lower}}" type="text" class="form-control" id="{{ form.gender.id_for_label }}" value="{{user.gender}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="{{ form.phone_number.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{form.phone_number.label}}</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="{{form.phone_number.label|lower}}" type="text" class="form-control" id="{{ form.phone_number.id_for_label }}" value="{{user.phone_number}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="{{ form.course.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{form.course.label}}</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="{{form.course.label|lower}}" type="text" class="form-control" id="{{ form.course.id_for_label }}" value="{{user.course}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="{{ form.email.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{form.email.label}}</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="{{form.email.label|lower}}" type="text" class="form-control" id="{{ form.email.id_for_label }}" value="{{user.email}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="{{ form.university.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{form.university.label}}</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="{{form.university.label|lower}}" type="text" class="form-control" id="{{ form.university.id_for_label }}" value="{{user.university}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="{{ form.country.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{form.country.label}}</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="{{form.country.label|lower}}" type="text" class="form-control" id="{{ form.country.id_for_label }}" value="{{user.country}}">
                      </div>
                    </div>
                    {% endwith %}

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-settings">

                 

                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form method = 'post'>
                    {% csrf_token %}
                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="password" type="password" class="form-control" id="currentPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="newpassword" type="password" class="form-control" id="newPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                  </form><!-- End Change Password Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

{% endblock %}
