<!-- questions.html -->
{% extends 'base.html' %}

{% block title %}Notifications{% endblock %}

{% block content %}
 

    <div class="pagetitle">
      <h1>Subscriptions</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'users:home' %}">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">Subscriptions</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->


  <section id="pricing">

    <div class="row">
      <div class="pricing-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>E-PRIME</h3>
          </div>
          <div class="card-body">
            <h2><i> UGX 5000 / month </i> </h2>
            <p>Access Exam Solutions</p>
            <button class="btn btn-lg btn-block btn-outline-dark" type="button">Subscribe</button>
          </div>
        </div>
      </div>

    </div>

  </section>

    

  
{% endblock %}
