<!-- questions.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Subscriptions{% endblock %}

{% block content %}
 

    <div class="pagetitle">
      <h1>Subscriptions</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'users:home' %}">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">Subscriptions</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->


  <section id="pricing">

    <div class="row gy-4" data-aos="fade-left">

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <h3 style="color: #07d5c0;">Free Plan</h3>
              <div class="price"><sup>UGX</sup>0<span> / mo</span></div>
              <img src="{% static 'assets/img/pricing-free.png' %}" class="img-fluid" alt="">
              <ul>
                <li>Access Questions</li>
                <li>No Solutions</li>
                <li>Access to existing Expert solutions</li>
              </ul>
              <a href="{% url 'users:register' %}" class="btn btn-primary">Subscribe</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <h3 style="color: #65c600;">Starter Plan</h3>
              <div class="price"><sup>UGX</sup>5000<span> / mo</span></div>
              <img src="{% static 'assets/img/pricing-starter.png' %}" class="img-fluid" alt="">
              <ul>
                <li>Questions</li>
                <li>Solutions</li>
                <li>Access Experts</li>
                
              </ul>
              <a href="{% url 'users:register' %}" class="btn btn-primary">Subscribe</a>
            </div>
          </div>

        </div>

    </div>

  </section>

    

  
{% endblock %}
